/* General Styles */
.main-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Stack the containers vertically on smaller screens */
}

/* Dashboard Container */
.dashboard-container {
  width: 100%; /* Full width on smaller screens */
  max-width: 20vw; /* Max width on larger screens */
  padding: 10px;
}

/* Speech Container */
.speech-container {
  flex-grow: 1; /* Grow to fill remaining space */
  padding: 10px;
}

/* Agriculture Questions Container */
.agriculture-questions-container {
  padding: 20px;
  background-color: #e6f7e6;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Agriculture Questions Title */
.agriculture-questions-title {
  color: #2e7d32;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

/* Agriculture Questions List */
.agriculture-questions-list {
  list-style-type: none;
  padding-left: 10px;
}

/* Individual Question */
.agriculture-question {
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding-left: 30px;
  margin-bottom: 16px;
}

.bit-name {
  color:red;
  font-weight: bold;
  font-size: `20px;
  margin-left: 0px;
  padding-left: 0px;
}
.agriculture-question:hover {
  color: #1b5e20;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .dashboard-container {
    width: 100%; /* Full width on tablets and smaller screens */
  }

  .agriculture-questions-container {
    padding: 15px;
  }

  .agriculture-questions-title {
    font-size: 22px;
  }

  .agriculture-question {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .dashboard-container {
    display: none; /* Hide the dashboard container on small screens */
  }

  .speech-container {
    padding: 10px;
  }

  .agriculture-questions-container {
    padding: 10px;
  }

  .agriculture-questions-title {
    font-size: 20px;
  }

  .agriculture-question {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
